 {% csrf_token %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
       
        <table>
        <tr>
            <td>Name</td>
            <td>{{kseb.kseb_name}}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{kseb.kseb_email}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{kseb.kseb_contact}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{kseb.kseb_address}}</td>
        </tr>
        <tr>
            <td>Local  place</td>
            <td>{{kseb.localplace.local_place}}</td>
        </tr>
        <tr>
            <td>Proof</td>
            <td>{{kseb.kseb_proof}}</td>
        </tr>
        <tr>
            <td><a href="{% url 'KSEB:editprofile' %}">Edit Profile</a>
                <a href="{% url 'KSEB:changepassword' %}">Change Password</a></td>
        </tr>
    </form>
</body>
</html>