<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muncipality</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>#</td>
                <td>Username</td>
                <td>Contact</td>
                <td>Photo</td>
                <td>Title</td>
                <td>Content</td>
                <td>Response</td>
                <td>Updates</td>
            </tr>
            {% for i in complaint %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.user.user_contact}}</td>
                <td><a href="{{i.complaint_photo}}">View File</a></td>
                <td>{{i.complaint_title}}</td>
                <td>{{i.complaint_content}}</td>
                <td>
                    {% if i.complaint_status == 1 %}
                    Replied
                    {% else %}
                    <a href="{% url 'Muncipality:reply' i.id %}">Reply</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'Muncipality:updates' i.id %}">Update Status</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>